<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  
  <!--bxslider-->
  <%= yield :bxslider_js %>
  
  <!--레일즈 기본 내장 코드-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="/assets/theme.css">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1:100,900" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


  <!-- 제이쿼리 -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/script.js"></script>
  

  

  

  
  <title>겟 투게더</title>
</head>
<body>

  <!-- Header + Main Banner -->
  <header id="header">
    <!-- 맨 위 선  -->
    <div class="header_line_wrap">
      <hr class="mgn_layout_full header_line header_line_white">
    </div>

    <!-- LNB & 로고 & GNB -->
    <div class="bg-color1 mgn_layout_full">

      <!-- LNB -->
      <div class="lnb_wrap mgn_layout_fixed">
        <nav class="lnb_nav">
          <ul>
            <li><%= link_to '스터디',  study_path, :class => "bg_col_white" %></li>
            <li><%= link_to '공모전',  competition_path, :class => "bg_col_white" %></li>
            <li><%= link_to '동아리',  club_path, :class => "bg-color1" %></li>
          </ul>
        </nav>
      </div>

      <div class="gnb_wrap mgn_layout_fixed mgn-pd_0">
        <!-- 로고 -->
        <div class="logo">
          <h1>
            <%= link_to 'Get<i class="far fa-handshake"></i>Together'.html_safe, 
            root_path, :class => "logo_white" %>
          </h1>
        </div>
        <!-- GNB -->
        <nav class="gnb_nav">
          <ul>
            <li><a href="#">My page</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  

<%= yield %>


<br><br>
<!-- Footer -->
  <footer id="footer" class="bg-color1">
      <p class="mgn_layout_fixed">
        고객행복센터 1670-6250 오전 9시 - 새벽 3시, 점심시간: 오후 12시 - 오후 1시<br>
        (주) 위드이노베이션<br><br>
        주소 : 서울특별시 강남구 봉은사로 479, 479타워 11층<br>
        대표이사 : 심명섭 | 사업자등록번호: 742-86-00224<br>
        통신판매번호 : 2017-서울강남-01779 | 관광사업자 등록번호: 제1026-24호<br>
        전화번호 : 1670-6250<br>
        전자우편주소 : help@goodchoice.kr<br>
        Copyright WITHINNOVATION Corp. All rights reserved.<br>
    </p>
  </footer>

</body>
</html>
